<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item"></div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3 class="powerhouse" style="font-size:30px;">Thee Powerhouse</h3>
                    <p>Sense of fashion at its best. Let us inspire you!! <br>Usiwachwe nyuma, Boost your confidence with us. </p>
                </div><br><br>
                <div class="col item social">
                    <a style="color: rgb(53, 96, 169)" href="https://www.linkedin.com/in/gladys-wahito-wambura/"><i class="fa-brands fa-linkedin"></i></a>
                    <a style="color: rgb(53, 96, 169)" href="https://www.instagram.com/arinahgladoo/"><i class="fa-brands fa-instagram"></i></a>
                    <a style="color: rgb(53, 96, 169)" href="https://github.com/gladyswambura"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <p style="font-size: 15px;" class="copyright powerhouse">Thee Powerhouse &copy; 2022 <br>Gladys wambura </p>
        </div>
    </footer>

