<nav style="background-color: #d5bdaf;">
  <br>
  <h2 class="text-center powerhouse">THEE POWERHOUSE <br><i><small class="text-center">Fashion gallery</small></i></h2>
<div class="container bar">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="35" height="25" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap4"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link link-dark dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">Location</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Nairobi</a></li>
            <li><a class="dropdown-item" href="#">Mombasa</a></li>
            <li><a class="dropdown-item" href="#">Thika</a></li>
            <li><a class="dropdown-item" href="#">England</a></li>
          </ul>
        </li>
        <li><a href="" class="nav-link px-2 link-dark">Contact Us</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-2 d-flex" role="search" action="{% url 'search' %}">
        <input class="form-control me-2" name="category" type="search" placeholder="Search by category" aria-label="Search">
        <button><i class="fa-solid fa-magnifying-glass" type="submit"></i></button>
      </form>
    </header>
  </div>
</nav>