{% extends 'base.html' %}
{% block content %}

{% for category in categories %}
<div class=" container card" style="width: 50rem; flex-direction: row;">
    {% if images%}
    <h2 class="capitalize">{{ images|length }} {{message}} images found...</h2>
    {% else %}
    <!-- <h2> No {{message}} images found</h2> -->
    {% endif %}
    
    <div class="card-body">
        <h5 class="card-title">{{category.category_name}}</h5>
        <a href="/" class="btn btn-primary btn-sm">Back</a>
        {% if images %}
        {% for image in images %}
        <img class="card-img-top" class="img-responsive" src="{{image.image_path.url}}" size="100px200">
        <br><br>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
<br><br><br><br>