{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card-columns">
        <div class="card-body text-center">
{% for category in categories %}
 <h5 class="card-title">{{category.image_name}}, Taken in:{{category.image_location}}</h5>
 <img class="img-responsive" src="{{category.image_path.url}}" width="500" height="500" alt="">
 <a href="/" class="btn btn-primary btn-sm">Back</a> <br><br>
    {% if image%}
    <h4 class="text-center">Found {{ image|length }} images on {{message}}</h4>
    {% else %}
    <!-- <p>no image found</p> -->
    {% endif %}

{% endfor %}
</div>
</div>
</div>
{% endblock %}
<br><br><br><br>